<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MAGMA_ERP" connectionString="Data Source=SVR-MAGMA-BD;Database=Magma_ERP" providerName="System.Data.SqlClient" />
    <add name="FacturaElectronica" connectionString="Data Source=SVR-MAGMA-BD;Database=FacturaElectronica" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="usuario_Magma_ERP" value="sa" />
    <!-- Clave Encriptada-->
    <add key="clave_MAGMA_ERP" value="Š§§ƒ¯•…" />
    <add key="usuario_FE" value="sa" />
    <!-- Clave Encriptada-->
    <add key="clave_FE" value="Š§§ƒ¯•…" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="TIPO_LOG" value ="DEBUG"/>
    <add key ="LOG_ACTIVADO" value ="SI"/>
    <!--add key ="LOG_RUTA" value ="\\192.1.1.205\datos$\Comun\turinad\"/-->
    <add key ="LOG_RUTA" value ="C:\Factuplus\"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>