<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginCmsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="LoginCmsSoapBinding1" />
        <binding name="LoginCmsSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="LoginCmsSoapBinding3" />
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="ServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap3" />
        <binding name="PersonaServiceA5SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PersonaServiceA5SoapBinding1" />
        <binding name="PersonaServiceA5SoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="PersonaServiceA5SoapBinding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding" contract="wsaa_homo.LoginCMS" name="LoginCms" />
      <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding2" contract="wsaa_prod.LoginCMS" name="LoginCms1" />
      <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsfev1_homo.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap2" contract="wsfev1_prod.ServiceSoap" name="ServiceSoap1" />
      <endpoint address="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5" binding="basicHttpBinding" bindingConfiguration="PersonaServiceA5SoapBinding" contract="personaServiceA5_homo.PersonaServiceA5" name="PersonaServiceA5Port" />
      <endpoint address="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5" binding="basicHttpBinding" bindingConfiguration="PersonaServiceA5SoapBinding2" contract="personaServiceA5_prod.PersonaServiceA5" name="PersonaServiceA5Port1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!-- 
    <add name="FacturaElectronicaEntities" connectionString="metadata=res://*/FacturaElectronica.csdl|res://*/FacturaElectronica.ssdl|res://*/FacturaElectronica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=FacturaElectronica;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSG2000Entities" connectionString="metadata=res://*/DataModeldbSG2000.dbSG2000.csdl|res://*/DataModeldbSG2000.dbSG2000.ssdl|res://*/DataModeldbSG2000.dbSG2000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=dbSG2000;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSG2000_PruebasEntities" connectionString="metadata=res://*/DataModeldbSG2000.dbSG2000_Pruebas.csdl|res://*/DataModeldbSG2000.dbSG2000_Pruebas.ssdl|res://*/DataModeldbSG2000.dbSG2000_Pruebas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=dbSG2000_Pruebas;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaElectronica_PruebasEntities" connectionString="metadata=res://*/DataModelFE.FacturaElectronica_Pruebas.csdl|res://*/DataModelFE.FacturaElectronica_Pruebas.ssdl|res://*/DataModelFE.FacturaElectronica_Pruebas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=FacturaElectronica_Pruebas;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="FacturaElectronicaEntities" connectionString="metadata=res://*/DataModelFE.FacturaElectronica.csdl|res://*/DataModelFE.FacturaElectronica.ssdl|res://*/DataModelFE.FacturaElectronica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=FacturaElectronica;persist security info=True;user id=USRSG2006;password=sonrisa14;multipleactiveresultsets=True;application name=WCFWSFEAFIPTezecoop&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSG2000Entities" connectionString="metadata=res://*/DataModeldbSG2000.dbSG2000.csdl|res://*/DataModeldbSG2000.dbSG2000.ssdl|res://*/DataModeldbSG2000.dbSG2000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=dbSG2000;persist security info=True;user id=USRSG2006;password=sonrisa14;multipleactiveresultsets=True;application name=WCFWSFEAFIPTezecoop&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSG2000_PruebasEntities" connectionString="metadata=res://*/DataModeldbSG2000.dbSG2000_Pruebas.csdl|res://*/DataModeldbSG2000.dbSG2000_Pruebas.ssdl|res://*/DataModeldbSG2000.dbSG2000_Pruebas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=dbSG2000_Pruebas;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=WCFWSFEAFIPTezecoop&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaElectronica_PruebasEntities" connectionString="metadata=res://*/DataModelFE.FacturaElectronica_Pruebas.csdl|res://*/DataModelFE.FacturaElectronica_Pruebas.ssdl|res://*/DataModelFE.FacturaElectronica_Pruebas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=FacturaElectronica_Pruebas;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=WCFWSFEAFIPTezecoop&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>