<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- <section name="entityFramework" type="System.Data.Enti
    ty.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, 
    Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!-- 
    <add name="dbSG2000Entities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=dbSG2000;user id=sa;password=ITf0nBD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="dbSG2000Entities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC0157;initial catalog=dbSG2000;persist security info=True;user id=sa;password=ITf0nBD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaElectronicaEntities" connectionString="metadata=res://*/FacturaElectronica.csdl|res://*/FacturaElectronica.ssdl|res://*/FacturaElectronica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=FacturaElectronica;persist security info=True;user id=USRSG2006;password=sonrisa14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <!-- <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" /> -->
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceFacturaElectronica" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49857/ServiceFacturaElectronica.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFacturaElectronica" contract="ServiceFacturaElectronica.IServiceFacturaElectronica" name="BasicHttpBinding_IServiceFacturaElectronica" />
    </client>
  </system.serviceModel>
</configuration>