<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="JDO" version="0.2.0" targetFramework="net40" />
  <package id="Unity" version="5.6.0" targetFramework="net40" />
</packages>